# Database Configuration (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=udpvecsmart_db
POSTGRES_PORT=5432

# pgAdmin (Web GUI) Configuration
PGADMIN_EMAIL=admin@udpvecsmart.com
PGADMIN_PASSWORD=admin1234
PGADMIN_PORT=5050

# Database Connection URL for Backend (Prisma)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/udpvecsmart_db?schema=public"
